<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teclea la palabra</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="juegoco21.component.css"> <!-- Enlace al archivo CSS personalizado -->
</head>
<body>

<div class="mx-auto max-w-screen-lg px-4">
  <!-- Contenedor principal -->
  <div class="container px-8 py-8 md:flex md:items-center md:flex-col">
    <!-- Título de bienvenida -->
    <h1 class="text-3xl font-bold mb-4 md:text-center">
      Teclea la palabra
    </h1>

    <!-- Imagen -->
    <div class="flex justify-center mb-4">
      <img src="assets/images/mecanografia2.png" alt="Contemos" class="max-w-xs md:max-w-full">
    </div>

    <!-- Descripción y botón -->
    <div class="md:flex md:flex-col md:justify-center md:flex-1 md:text-center">
      <!-- Descripción del juego -->
      <p class="text-lg text-gray-600 mb-6">
        Un juego educativo en el que los niños deben escribir correctamente una serie de palabras que aparecen en la pantalla antes de que lleguen al final del recorrido. Este juego ayuda a mejorar la velocidad de escritura y la ortografía, proporcionando una forma divertida y desafiante de practicar estas habilidades. Ideal para mejorar la fluidez en el uso del teclado y reforzar el vocabulario en español.
      </p>

      <!-- Enlace "Ir al Juego" -->
      <div>
        <a href="https://recursosyoaprendoencasa.grupo-sm.com/primaria-lengua-atrapa-palabra/" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded inline-block mb-4 md:mb-0 md:mr-4">
          JUGAR
        </a>
      </div>
    </div>
  </div>

  <!-- Contenedor de botones -->
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-8">
    <div *ngFor="let item of otherItems" class="text-center">
      <a [routerLink]="item.link" class="block hover:opacity-75">
        <img [src]="item.image" alt="image" class="max-w-full mx-auto">
        <span class="mt-2 text-base font-medium text-gray-700 block">{{ item.text }}</span>
      </a>
    </div>
  </div>
</div>

</body>
</html>
