<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La máquina de multiplicar</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="juegom41.component.css"> <!-- Enlace al archivo CSS personalizado -->
</head>

<body>
  <div class="background"
    style="background-image: url('assets/images/fondo6.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; min-height: 100vh;">
    <div class="mx-auto max-w-screen-lg px-4">
      <!-- Contenedor principal -->
      <div class="container px-8 py-8 md:flex md:items-center md:flex-col">
        <!-- Título de bienvenida -->
        <h1 class="text-3xl font-bold mb-4 md:text-center">
          La máquina de multiplicar
        </h1>

        <!-- Imagen -->
        <div class="flex justify-center mb-4">
          <img src="assets/images/multiplicar2.png" alt="Contemos" class="max-w-xs md:max-w-full">
        </div>
        <!-- caja de de descripcion -->
        <div class="description-box p-6 mb-6 w-full max-w-lg mx-auto">
          <h2 class="text-2xl font-bold mb-4 text-center text-green-700">Descripción</h2>
          <p class="text-lg text-gray-100 text-center">
            Vamos a repasar las tablas de multiplicar. Selecciona la tabla que quieras y resuelve las multiplicaciones.
        </div>
        <!-- Descripción y botón -->
        <div class="md:flex md:flex-col md:justify-center md:flex-1 md:text-center">


          <!-- Enlace "Ir al Juego" -->
          <div>
            <a href="https://www.juegosarcoiris.com//espanol/html5/juegos/numeros/tablas/index.html"
              class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded inline-block mb-4 md:mb-0 md:mr-4">
              JUGAR
            </a>
          </div>
        </div>
      </div>

      <!-- Contenedor de botones -->
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-8">
        <div *ngFor="let item of otherItems" class="text-center">
          <a [routerLink]="item.link" class="block hover:opacity-75">
            <img [src]="item.image" alt="image" class="max-w-full mx-auto">
            <span class="mt-2 text-base font-medium text-gray-700 block">{{ item.text }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>