<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tres Chanchitos</title>
</head>
<body>
    <header></header>
    <main class="contenedor">
        <div class="cuento">
            <div class="encabezado-cuento">
                <h1>CUENTO DE ALADINO Y LA LAMPARA MAGICA</h1>
                <p>Cuento del Medio Oriente recopilado por Antoine Galland</p>
                <p>© Versión escrita por Paola Artmann</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/aladino1.webp">
            </div>
            <div class="cuento-parrafos">
                <p class="parrafo-cuento">Lejos muy lejos, en una ciudad de China, un joven llamado Aladino se pasaba todo el día jugando con sus amigos. Su padre, un humilde sastre, trató de enseñarle el valor del trabajo, pero Aladino se negó a ayudarlo. Incluso después de la pérdida de su padre, Aladino prefería estar en la calle vagando que ayudar a su madre a ganarse el sustento.</p>
                <p class="parrafo-cuento">Un día, un extraño muy adinerado se acercó al joven y al verlo sin propósito en la vida quiso engañarlo.</p>
                <p class="parrafo-cuento">— Tu padre, Mustafá, era mi hermano. Yo soy tu tío —le dijo el extraño a Aladino.</p>
                <p class="parrafo-cuento">Aladino, siendo muy ingenuo, llevó al hombre a su casa.</p>
                <p class="parrafo-cuento">—Mustafá nunca habló de un hermano—ddijo la madre de Aladino.</p>
                <p class="parrafo-cuento">—Viajé por el mundo por cuarenta años —respondió el hombre—. Fue tanto el tiempo y la lejanía que mi hermano se olvidó de mí. Permíteme viajar con mi sobrino y haré de él un hombre muy próspero.</p>
                <p class="parrafo-cuento">La madre, con la ilusión de ver a su hijo convertido en un hombre de bien, aceptó la propuesta. Al día siguiente, el hombre llevó a Aladino a un bosque apartado de la ciudad y preparó una fogata arrojando en ella un polvo extraño. De repente, justo bajo la fogata, se abrió una gran zanja en la tierra.</p>
                <p class="parrafo-cuento">—Sobrino, en esa zanja encontrarás una escalera—dijo el hombre—, desciende en ella hasta que encuentres una caverna, en la caverna verás una pared con un agujero. En el agujero hay una lámpara. ¡Tráemela!</p>
                <p class="parrafo-cuento">Pero el hombre era en realidad un hechicero. Él sabía de la existencia de una lámpara con poderes mágicos y había viajado una gran distancia para encontrarla.</p>
                <p class="parrafo-cuento">Aladino, como cualquiera en su lugar, sentía miedo de bajar la escalera, el hechicero le puso un anillo de oro con una gran esmeralda y dijo:</p>
                <p class="parrafo-cuento">—No sientas miedo, toma este anillo como un regalo. Este es uno de los muchos regalos que recibirás de mi parte. ¡Apúrate o nos alcanzará la noche!</p>
                <p class="parrafo-cuento">El anillo era lo único que el hechicero llevaba de valor. Su verdadera intención era quitárselo al joven tan pronto tuviera la oportunidad. Aladino bajó la escalera y encontró la lámpara. Cuando comenzó a subir escuchó al hechicero decir entre dientes:</p>
                <p class="parrafo-cuento">—Cuando ese chico me entregue la lámpara, lo encerraré para siempre.</p>
                <p class="parrafo-cuento">—¡Ayúdame a subir! —exclamó Aladino, dándose cuenta de su error—. Solo entonces te entregaré la lámpara.</p>
                <p class="parrafo-cuento">—¡Dámela ahora mismo! —dijo el hechicero enfurecido.</p>
                <p class="parrafo-cuento">Pero Aladino se negó a entregarle la lámpara, fue entonces cuando el hechicero cerró la zanja en la tierra. No había razón para insistir, la lampara perdería su magia si era arrebatada a la fuerza. ¡Aladino estaba atrapado!</p>
                <p class="parrafo-cuento">Sin recordar que llevaba el anillo, Aladino frotó sus manos para rezar cuando de la nada apareció un genio.</p>
                <p class="parrafo-cuento">—Soy el genio del anillo —dijo—, ¿qué puedo hacer por ti?</p>
                <p class="parrafo-cuento">—Quiero volver a casa —respondió Aladino asombrado.</p>
                <p class="parrafo-cuento">Al instante, Aladino se encontraba en casa con su madre.</p>
                <p class="parrafo-cuento">— No comprendo por qué ese hechicero tenía tanto interés en esta vieja y sucia lámpara —dijo Aladino mientras frotaba la lámpara con un pañuelo para limpiarla.</p>
                <p class="parrafo-cuento">En un segundo, apareció otro genio, mucho más grande que el genio del anillo.</p>
                <p class="parrafo-cuento">—Soy el genio de la lámpara — dijo—, ¿qué puedo hacer por ti?</p>
                <p class="parrafo-cuento">—¡Tráenos algo de comer! —exclamó Aladino sin dar crédito a lo que veía.</p>
                <p class="parrafo-cuento">El genio desapareció, luego regresó con exquisitos platos de comida.</p>
                <p class="parrafo-cuento">Aladino vivió cómodamente con su madre, hasta que un día, vio la hija del sultán y se enamoró de ella. Con la ayuda del genio de la lámpara, llenó un baúl con las más finas joyas y las envió con su madre al palacio.</p>
                <p class="parrafo-cuento">—Este presente es de parte de mi hijo, Aladino —dijo la madre—. Él desea casarse con su hija.</p>
                <p class="parrafo-cuento">—¡Qué extraordinarias joyas! —respondió el sultán—. Pero tu hijo debe darme muchas más. Cuando considere que recibí lo debido, le daré el consentimiento para casarse con mi hija.</p>
                <p class="parrafo-cuento">Nuevamente, con la ayuda del genio, Aladino envió más baúles llenos de joyas al palacio. El sultán estaba dichoso.</p>
                <p class="parrafo-cuento">No pasó mucho tiempo antes de que Aladino se casara con la princesa. Él guardó la lámpara en el palacio, pero no le habló a la princesa de su magia.</p>
                <p class="parrafo-cuento">Pronto, las noticias de la boda de Aladino llegaron a oídos del hechicero. A la mañana siguiente, disfrazado de mercader, salió a la calle pregonando:</p>
                <p class="parrafo-cuento">—Cambio lámparas viejas por nuevas.</p>
                <p class="parrafo-cuento">Cuando la princesa se enteró, salió de inmediato a cambiar la lámpara vieja y sucia de Aladino.</p>
                <p class="parrafo-cuento">Tan pronto la princesa le entregó la lámpara, el hechicero la frotó y apareció el genio:</p>
                <p class="parrafo-cuento">—Desaparece a la princesa y al palacio. Llévalos junto conmigo a una tierra muy lejana —dijo el malvado hechicero.</p>
                <p class="parrafo-cuento">A su regreso, Aladino se enteró de que su esposa y el palacio habían desaparecido.</p>
                <p class="parrafo-cuento">—Esta es la obra del hechicero —pensó—. Desconsolado, se sentó en la orilla del río y lloró. Al frotarse los ojos con las manos, frotó también el anillo mágico. El genio del anillo apareció.</p>
                <p class="parrafo-cuento">—¡Devuélveme a mi esposa y mi palacio! —exclamó Aladino.</p>
                <p class="parrafo-cuento">—Solo el genio de la lámpara puede hacerlo —dijo el genio del anillo.</p>
                <p class="parrafo-cuento">—Entonces llévame donde estén —contestó Aladino.</p>
                <p class="parrafo-cuento">En segundos, Aladino llegó hasta África y encontró a la princesa mirando a través de la ventana en la torre más alta del palacio. En cuanto tuvieron la oportunidad de hablar a escondidas, Aladino le preguntó por su lámpara.</p>
                <p class="parrafo-cuento">—El hechicero la lleva a todas partes —dijo la princesa—. Aladino se acercó a ella y susurró unas pocas palabras en su oído.</p>
                <p class="parrafo-cuento">Esa noche, la princesa puso algo en la bebida del hechicero. Pronto, se quedó dormido. La princesa tomó la lámpara y escapó. Sin espera, Aladino frotó la lámpara haciendo aparecer al genio.</p>
                <p class="parrafo-cuento">—Llévanos a China, pero deja al hechicero aquí —ordenó Aladino.</p>
                <p class="parrafo-cuento">Antes de un abrir y cerrar de ojos, Aladino y su princesa estaban en China, nuevamente en el palacio. Y allí vivieron felices durante muchos, muchos, años.</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/aladino2.webp">
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>


