
<div class="flex items-center">
  <div class="w-1/2 p-4">
    <div class="text-center">

      <p *ngFor="let word of audioText; let i = index" [class.font-bold]="i === currentWordIndex">
        {{word.word}}
      </p>
    </div>
  </div>

  <div class="w-1/2 p-4">
    <audio #audioPlayer controls (timeupdate)="highlightWord(audioPlayer)">
    <source src="assets/audio/gallinaturuleca.mp3" type="audio/mp3">
    </audio>
    <p>audio</p>
  </div>
</div>


<div class="mx-4">
  <div class="container px-8 py-8 flex  justify-center items-center">
  <div  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-36">
    <div *ngFor="let item of items"  class="text-center   w-36 h-36  ml-4 mr-4">
      <a  [routerLink]="item.link" class="block hover:opacity-75">
        <img [src]="item.image" alt="image" class="max-w-xs w-24 h-24 md:w-32 md:h-32 mx-auto">
        <span  class="mt-4 text-lg font-medium text-gray-700 block">{{item.text}}</span>
      </a>
    </div>
  </div>
</div>
</div>
