<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tres Chanchitos</title>
</head>
<body>
    <header></header>
    <main class="contenedor">
        <div class="cuento">
            <div class="encabezado-cuento">
                <h1>CUENTO DE LA BELLA DURMIENTE</h1>
                <p>Cuento de los hermanos Grimm</p>
                <p>© Versión escrita por Paola Artmann</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/belladurmiente1.webp">
            </div>
            <div class="cuento-parrafos">
                <p class="parrafo-cuento">Érase una vez un rey y una reina que vivían muy felices, pero anhelaban tener hijos. Después de muchos años de espera, la reina dio a luz a una hermosa niña y todo el reino los acompañó en su felicidad. Hubo una gran celebración y las hadas del reino fueron invitadas. Pero el rey olvidó invitar a una de ellas. Muy resentida, el hada olvidada se presentó al palacio.</p>
                <p class="parrafo-cuento">Pronto, llegó el momento en que las hadas le entregaban a la pequeña sus mejores deseos:</p>
                <p class="parrafo-cuento">—Que crezca y se convierta en la mujer más bella del mundo —dijo la primera hada.</p>
                <p class="parrafo-cuento">—Que cante con la más dulce y melodiosa voz —dijo la segunda hada.</p>
                <p class="parrafo-cuento">—Que siempre se comporte con gracia y elegancia —dijo la tercera hada.</p>
                <p class="parrafo-cuento">—Que sea bondadosa y paciente—dijo la siguiente hada.</p>
                <p class="parrafo-cuento">Cada una de las hadas, colmaron a la niña de hermosos deseos hasta que llegó el turno del hada que el rey olvidó invitar:</p>
                <p class="parrafo-cuento">— Cuando la princesa cumpla dieciséis años, se pinchará el dedo con una aguja y ese será su final—dijo con todo el resentimiento que su corazón le permitía albergar en sus palabras.</p>
                <p class="parrafo-cuento">El rey, la reina y todo el reinado estaban atónitos, le suplicaron al hada que los disculpara por no haberla invitado y se retractara de lo que había dicho, pero el hada se negó a ambas propuestas.</p>
                <p class="parrafo-cuento">Había una última hada que faltaba por presentar su deseo. Queriendo ayudar a la pequeña, le dijo al rey y a la reina:</p>
                <p class="parrafo-cuento">—No puedo deshacer las palabras pronunciadas, pero puedo cambiar el curso de los eventos: la princesa no morirá cuando su dedo se pinche con la aguja, pero caerá en un sueño profundo durante cien años. Entonces, un príncipe vendrá y la despertará.</p>
                <p class="parrafo-cuento">Al escuchar esto, el rey y la reina se sintieron mejor. Pensando que existía la manera de detener el destino, el rey prohibió a todos los habitantes del reino utilizar agujas.</p>
                <p class="parrafo-cuento">La princesa creció y se convirtió en una niña amable y de dulce corazón. Cuando cumplió sus dieciséis años, vio a una anciana coser:</p>
                <p class="parrafo-cuento">—¿Puedo intentarlo? —le preguntó.</p>
                <p class="parrafo-cuento">La anciana le respondió:</p>
                <p class="parrafo-cuento">— ¡Por supuesto, mi pequeña niña!</p>
                <p class="parrafo-cuento">La princesa tomó la aguja e intentó enhebrar el hilo. En ese preciso momento se pinchó el dedo y cayó en un profundo sueño. La anciana, que era en realidad el hada resentida, la llevó de regreso al palacio y el rey y la reina la acostaron en su cama.</p>
                <p class="parrafo-cuento">El reino que antes los había acompañado en la felicidad, los acompañó en la desgracia; todos cayeron en un profundo sueño.</p>
                <p class="parrafo-cuento">Pasaron cien años. Un día, por cuenta del destino, un príncipe llegó al palacio. Él no podía dar crédito a lo que veían sus ojos: los guardas, sirvientes, gatos y hasta las vacas dormían y roncaban.</p>
                <p class="parrafo-cuento">Al acercarse a la princesa, pensó que ella era el ser más hermoso del mundo y le plantó un beso en la mejilla. Inmediatamente, la princesa se despertó y junto con ella, el rey, la reina, los guardas, los sirvientes, los gatos y hasta las vacas abrieron sus ojos.</p>
                <p class="parrafo-cuento">El príncipe y la princesa se casaron y vivieron felices por siempre.</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/belladurmiente2.webp">
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>


