<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tres Chanchitos</title>
</head>
<body>
    <header></header>
    <main class="contenedor">
        <div class="cuento">
            <div class="encabezado-cuento">
                <h1>CUENTO DEL REY MIDAS</h1>
                <p>Mito Griego</p>
                <p>© Versión escrita por Paola Artmann</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/mitos_y_leyendas/story_images/webP/midas.webp">
            </div>
            <div class="cuento-parrafos">
                <p class="parrafo-cuento">Hace muchos siglos, gobernaba en Frigia un rey llamado Midas. Este rey tenía mucho más de lo que cualquier hombre pudiera desear. Vivía en un espléndido palacio cuyo mármol brillaba como una joya a la luz del sol y sus jardines de rosales eran los más hermosos de toda la región. Sin embargo, no apreciaba lo que tenía.</p>
                <p class="parrafo-cuento">Un día, mientras recorría su inmenso jardín, se encontró con un sátiro que había perdido su camino. Esta horripilante criatura, mitad hombre, mitad cabra, se llamaba Selenio y era el sirviente preferido del dios Dionisio. El rey Midas decidió acogerlo en el palacio y tratarlo como a un noble.</p>
                <p class="parrafo-cuento">Al terminar la visita, el sirviente emprendió su viaje de regreso al monte Olimpo, el rey Midas insistió en acompañarlo. Al llegar, se encontraron con el dios Dionisio, quien muy agradecido dijo:</p>
                <p class="parrafo-cuento">—Buen rey Midas, has tratado con generosidad a mi sirviente. Te concederé cualquier deseo que tengas.</p>
                <p class="parrafo-cuento">El rey Midas estaba encantado y sin tomarse el tiempo debido para pensar, respondió:</p>
                <p class="parrafo-cuento">—¡Quiero que todo lo que toque se convierta en oro!</p>
                <p class="parrafo-cuento">Después de arquear su divina ceja, el dios griego sacudió la cabeza con consternación al escuchar la extraña petición, pero mantuvo su promesa.</p>
                <p class="parrafo-cuento">El rey Midas regresó a su palacio. Caminó a través de sus jardines tocando las hermosas rosas, inmediatamente estas se convirtieron en oro. La alegría del rey Midas no conocía límites.</p>
                <p class="parrafo-cuento">Al llegar la hora de la cena, el rey tocó la silla y esta se convirtió en oro, igual sucedió con la mesa, el tenedor y los platos. Cuando se llevó un trozo de pan a los labios, este también se convirtió en oro.</p>
                <p class="parrafo-cuento">—¿Cómo podré beber y alimentarme? —se preguntó.</p>
                <p class="parrafo-cuento">El rey comenzó a llorar desconsolado, su alegría se había transformado en preocupación.</p>
                <p class="parrafo-cuento">Justo en ese momento, la joven hija del rey corrió a la habitación para saludar a su padre. Al verlo llorar, le dio un abrazo y se convirtió en una hermosa estatua dorada. El rey Midas no podía creer lo que veía.</p>
                <p class="parrafo-cuento">—¿Qué he hecho? —dijo entre lágrimas—. Mi codicia se ha llevado a mi hija.</p>
                <p class="parrafo-cuento">Al escuchar sus plegarias, el dios Dionisio decidió que el rey Midas había aprendido la lección y le ordenó bañarse en el río Pactolo:</p>
                <p class="parrafo-cuento">—Las aguas del río y el cambio en tu corazón, devolverán la vida a las cosas que tu codicia convirtió en oro—, le dijo con severidad.</p>
                <p class="parrafo-cuento">El rey Midas se bañó en el río Pactolo, dejando atrás las corrientes de oro que permanecen ahí hasta el día de hoy. Lo que había convertido en oro regresó a su forma natural.</p>
                <p class="parrafo-cuento">El rey se sintió muy agradecido con cada abrazo de su hija, el perfume de las rosas y la suave textura del pan. Aprendió a apreciar lo que tenía y fue feliz como nunca lo había sido.</p>
            </div>
            <div class="imagen-cuento">
                <img src="">
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>


