<div class="background"
  style="background-image: url('assets/images/fondo6.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; min-height: 100vh;">
  <!-- Contenedor principal -->
  <div class="mx-auto max-w-screen-lg px-4">

    <div class="container px-8 py-8 md:flex md:flex-col md:items-center">
      <!-- Título de bienvenida -->
      <h1 class="text-3xl font-bold mb-4 md:text-center">
        ¡CONTEMOS JUNTOS!
      </h1>

      <!-- Imagen -->
      <div class="flex justify-center mb-4">
        <img src="assets/images/contar.png" alt="Contemos" class="max-w-xs md:max-w-full">
      </div>

      <!-- Sección de descripción justo después de la imagen -->
      <div class="description-box p-6 mb-6 w-full max-w-lg mx-auto">
        <h2 class="text-2xl font-bold mb-4 text-center text-green-700">Descripción</h2>
        <p class="text-lg text-gray-100 text-center">
          ¡Aprende a contar de manera divertida con nuestro juego interactivo! Este juego te ayudará a practicar tus
          habilidades de contar mientras te diviertes.
        </p>
      </div>

      <!-- Botones -->
      <div class="md:flex md:flex-col md:justify-center md:flex-1 md:text-center">
        <a href="https://arbolabcgames.top/M22BVF/"
          class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded inline-block mb-4 md:mb-0 md:mr-4">
          JUGAR
        </a>
        <a routerLink="/juegom2" class="custom-button inline-block">
          Siguiente
        </a>
      </div>
    </div>

    <!-- Contenedor de botones -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-8">
      <div *ngFor="let item of otherItems" class="text-center">
        <a [routerLink]="item.link" class="block hover:opacity-75">
          <img [src]="item.image" alt="image" class="max-w-full mx-auto">
          <span class="mt-2 text-base font-medium text-gray-700 block">{{ item.text }}</span>
        </a>
      </div>
    </div>
  </div>
</div>