<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tres Chanchitos</title>
</head>
<body>
    <header></header>
    <main class="contenedor">
        <div class="cuento">
            <div class="encabezado-cuento">
                <h1>CUENTO DE LA CENICINTA</h1>
                <p>Cuento clásico de los hermanos Grimm</p>
                <p>© Versión escrita por Paola Artmann</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/cenicienta1.webp">
            </div>
            <div class="cuento-parrafos">
                <p class="parrafo-cuento">Érase una vez una hermosa joven que vivía con su madrastra y dos hermanastras que la obligaban a hacer todo el trabajo de la casa. La pobre joven tenía que cocinar, limpiar y también lavarles la ropa.</p>
                <p class="parrafo-cuento">Cansada de trabajar, la joven se quedó dormida cerca a la chimenea y cuando se levantó con la cara sucia por las cenizas, sus hermanastras se rieron sin parar y desde entonces comenzaron a llamarla Cenicienta.</p>
                <p class="parrafo-cuento">Un día llegó a la casa una invitación del rey a un baile para celebrar el cumpleaños del príncipe. Todas las jóvenes del reino fueron invitadas y Cenicienta estaba muy feliz. Sin embargo, cuando llegó el día de la fiesta, su madrastra y hermanastras le dijeron:</p>
                <p class="parrafo-cuento">—Cenicienta, tú no irás, te quedarás en casa limpiando y preparando la cena para cuando regresemos.</p>
                <p class="parrafo-cuento">Las tres mujeres salieron hacia el palacio, burlándose de Cenicienta.</p>
                <p class="parrafo-cuento">Cenicienta corrió al jardín y se sentó en un banco a llorar. Ella deseaba con todo su corazón poder ir al baile. De repente, apareció su hada madrina y le dijo:</p>
                <p class="parrafo-cuento">—No llores Cenicienta, tú has sido muy buena y mereces ir al baile.</p>
                <p class="parrafo-cuento">Agitando su varita mágica, el hada madrina transformó una calabaza en un coche, tres ratones de campo en hermosos caballos, y a un perro viejo en un cochero. ¡Cenicienta no podía creer lo que veía!</p>
                <p class="parrafo-cuento">— ¡Muchas gracias! —exclamó Cenicienta.</p>
                <p class="parrafo-cuento">——Espera, no he terminado todavía —respondió el hada madrina con una sonrisa.</p>
                <p class="parrafo-cuento">Con el último movimiento de su varita mágica, transformó a Cenicienta. Le dio un vestido y un par de zapatillas de cristal, y le dijo:</p>
                <p class="parrafo-cuento">—Ahora podrás ir al baile, sólo recuerda que debes regresar antes de la medianoche ya que a esa hora se terminará la magia.</p>
                <p class="parrafo-cuento">Cenicienta agradeció nuevamente al hada madrina y muy feliz se dirigió al palacio. Cuando entró, los asistentes, incluyendo sus hermanastras, no podían parar de preguntarse quién podría ser esa hermosa princesa.</p>
                <p class="parrafo-cuento">El príncipe, tan intrigado como los demás, la invitó a bailar. Después de bailar toda la noche, descubrió que Cenicienta no sólo era la joven más hermosa del reino, sino también la más amable y sincera que él jamás había conocido.</p>
                <p class="parrafo-cuento">De repente, las campanadas del reloj se hicieron escuchar, era la medianoche. Cenicienta se estaba divirtiendo tanto que casi olvida las palabras del hada madrina.</p>
                <p class="parrafo-cuento">—¡Oh, no!, debo irme— le dijo al príncipe mientras corría fuera del salón de baile. Ella salió tan de prisa que perdió una de sus zapatillas de cristal en la escalinata.</p>
                <p class="parrafo-cuento">Decidido a encontrar a la hermosa joven, el príncipe tomó la zapatilla y visitó todas las casas del reino.</p>
                <p class="parrafo-cuento">Cuando el príncipe llegó a casa de Cenicienta, sus dos hermanas y hasta la madrastra intentaron sin suerte probarse el zapato de cristal. Él se encontraba a punto de marcharse cuando escuchó una voz:</p>
                <p class="parrafo-cuento">—¿Puedo probarme la zapatilla? —dijo Cenicienta.</p>
                <p class="parrafo-cuento">La joven se probó la zapatilla y le quedó perfecta. El príncipe sabía que esta era la hermosa joven que estaba buscando. Fue así como Cenicienta y el príncipe se casaron y vivieron felices para siempre.</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/cenicienta2.webp">
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>

