<div class="relative">
    <!-- contenedor de la imagen de fondo -->
    <div class=" inset-0 bg-cover " style="background-image: url('assets/images/fondofabula.jpeg'); background-color: rgba(255, 255, 255, 0.9); z-index: -1;">
      <p class="text-5xl font-semibold text-center"><br>El pastor mentiroso</p>
      <div class="flex">
        <div class="container">
            <div class="container fabula">
              <p class="texto">Un joven pastor, que cuidaba un rebaño de ovejas, tuvo la idea de gastar una broma a los vecinos de su aldea y así reírse un buen rato: alarmado y con cara de susto, gritó con todas sus fuerzas “¡Que viene el lobo!”, sin que hubiera una pizca de verdad en ello.

                Los habitantes del pueblo, sin dudarlo un instante, corrieron a ayudar al joven pastor para evitar que el lobo se comiera sus ovejas. ¿Cuál fue su sorpresa?
                ¡Que no había ningún lobo y las ovejas pastaban felizmente! El joven pastor se rio a carcajadas y no tardó mucho en volver a gastar la misma broma. ¡Y una 
                tercera vez! Pero un día el lobo apareció y el joven pastor necesitó ayuda de verdad. Gritó y gritó, pero esa vez nadie le creyó.
              </p>
              <p class="moraleja">Moraleja: No está bien obtener algo con engaños ni reírse de la buena fe de los demás.</p>
            </div>
          
        </div>
  
        <div class="w-1/2 p-4 pl-20 mt-28">
           <div class="absolute">
            <img src="assets/images/fabula2.jpg">
            <a href="/fabulas">
                <img src="assets/images/btnregresar.png" >
            </a>
          </div>
        </div>
      </div>
      
      <div class="botones">
        <div  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-36">
          <div *ngFor="let item of items"  class="text-center   w-36 h-36  ml-4 mr-4">
            <a  [routerLink]="item.link" class="block hover:opacity-75">
              <img [src]="item.image" alt="image" class="max-w-xs w-24 h-24 md:w-32 md:h-32 mx-auto">
              <span  class="mt-4 text-lg font-medium text-gray-700 block">{{item.text}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>