<div class="relative">
  <!-- contenedor de la imagen de fondo -->
  <div class=" inset-0 bg-cover "
    style="background-image: url('assets/images/fondofabula.jpeg'); background-color: rgba(255, 255, 255, 0.9); z-index: -1;">
    <p class="text-5xl font-semibold text-gray-500 text-center"><br>La liebre y la tortuga</p>
    <div class="flex">
      <div class="container">
        <div class="container fabula">
          <p class="texto">Un día, a la tortuga se le ocurrió hacerle una inusual apuesta a la liebre:- Liebre, ¿vamos
            hacer una carrera? Estoy segura de poder ganarte.
            - ¿A mí? Preguntó asombrada la liebre.
            - Sí, sí, a ti, dijo la tortuga. Pongamos nuestras apuestas y veamos quién gana la carrera.
            La liebre, aceptó la apuesta prontamente. Así que todos los animales se reunieron para presenciar la
            carrera. Y así empezó la carrera:
            Astuta y muy confiada en sí misma, la liebre salió corriendo, y la tortuga se quedó atrás. Cuando empezó a
            andar, la liebre ya se había perdido de vista. Sin importarle la ventaja que tenía la liebre sobre ella,
            la tortuga seguía su ritmo. La liebre, mientras tanto, confiando en que la tortuga tardaría mucho en
            alcanzarla, se detuvo a la mitad del camino ante un árbol, y se puso a descansar. Allí se quedó dormida,
            mientras la tortuga seguía caminando.
            No se sabe cuánto tiempo la liebre se quedó dormida, pero cuando despertó, vio que la tortuga se encontraba
            a tan solo tres pasos de la meta. En un sobresalto, salió corriendo
            , pero ya era muy tarde: ¡la tortuga había alcanzado la meta y ganado la carrera!
          </p>
          <p class="moraleja">Moraleja: Ten una buena actitud y no te burles de los demás.</p>
        </div>

      </div>

      <div class="w-1/2 p-4 pl-20 mt-28">
        <div class="absolute">
          <img src="assets/images/fabula3.jpg">
          <a href="/fabulas">
            <img src="assets/images/btnregresar.png">
          </a>
        </div>
      </div>
    </div>

    <div class="botones">
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-36">
        <div *ngFor="let item of items" class="text-center   w-36 h-36  ml-4 mr-4">
          <a [routerLink]="item.link" class="block hover:opacity-75">
            <img [src]="item.image" alt="image" class="max-w-xs w-24 h-24 md:w-32 md:h-32 mx-auto">
            <span class="mt-4 text-lg font-medium text-white block">{{item.text}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>