<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tres Chanchitos</title>
</head>
<body>
    <header></header>
    <main class="contenedor">
        <div class="cuento">
            <div class="encabezado-cuento">
                <h1>CUENTO DE CÓMO LE SALIÓ LA JOROBA AL CAMELLO</h1>
                <p>Cuento escrito por Rudyard Kipling</p>
                <p>© Versión escrita por Paola Artmann</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_para_dormir/images/webP/camellojoroba1.webp">
            </div>
            <div class="cuento-parrafos">
                <p class="parrafo-cuento">Al principio de los tiempos, cuando el mundo era muy joven y los animales empezaban a repartirse los trabajos para ayudar al hombre, había un camello que se negaba a trabajar. El muy holgazán se pasaba el día tendido en la arena, tomando el sol y masticando palitos. Cada vez que alguien le dirigía la palabra, contestaba:</p>
                <p class="parrafo-cuento">—¡No me jorobes!</p>
                <p class="parrafo-cuento">El lunes, se presentó un caballo con la silla y el bocado puestos, y le dijo:</p>
                <p class="parrafo-cuento">—Camello, ven conmigo y corre como hacemos todos.</p>
                <p class="parrafo-cuento">—¡No me jorobes! —respondió el camello.</p>
                <p class="parrafo-cuento">Y el caballo se marchó y le contó todo al hombre.</p>
                <p class="parrafo-cuento">El martes, el perro fue a verlo con un palo en la boca y le dijo:</p>
                <p class="parrafo-cuento">—Camello, busca y lleva cosas como hacemos todos.</p>
                <p class="parrafo-cuento">—¡No me jorobes! —respondió el camello.</p>
                <p class="parrafo-cuento">Y el perro se marchó y le contó todo al hombre.</p>
                <p class="parrafo-cuento">El miércoles, fue a verlo el buey con el yugo en el cuello y le dijo:</p>
                <p class="parrafo-cuento">—Camello, ven y ara como hacemos todos.</p>
                <p class="parrafo-cuento">—¡No me jorobes! —respondió secamente el camello.</p>
                <p class="parrafo-cuento">Y el buey se marchó y le contó todo al hombre.</p>
                <p class="parrafo-cuento">Al final del día, el hombre llamó al caballo, perro y buey y les dijo:</p>
                <p class="parrafo-cuento">—Siento mucho que el camello no quiera colaborarles. Él es terriblemente perezoso y yo no puedo hacer otra cosa que dejarlo tranquilo. Por lo tanto, ustedes tendrán que hacer su trabajo.</p>
                <p class="parrafo-cuento">Estas palabras enfurecieron muchísimo al trío de animales. Así estaban las cosas, cuando apareció un genio volando en una nube de polvo y se detuvo ante ellos.</p>
                <p class="parrafo-cuento">—Genio del desierto, ¿te parece justo que, siendo este mundo tan nuevo alguien pueda ser tan vago? —dijo el caballo.</p>
                <p class="parrafo-cuento">—¡Claro que no! —respondió el genio— Imagino que me estás hablando del camello. Es al único al que he visto vagando.</p>
                <p class="parrafo-cuento">—Sí, es el camello de quien hablo, siempre que le pedimos que trabaje dice: «¡No me jorobes!» —contestó el perro—. Y tampoco quiere recoger cosas y llevarlas de vuelta al hombre.</p>
                <p class="parrafo-cuento">—¿Ha dicho alguna otra cosa? — preguntó el genio.</p>
                <p class="parrafo-cuento">—No, solo dice: «No me jorobes», y tampoco quiere arar la tierra —añadió el buey.</p>
                <p class="parrafo-cuento">—Muy bien —dijo el genio—, en un momento verán cómo le daré al camello su merecida lección.</p>
                <p class="parrafo-cuento">El genio se envolvió en su nube de polvo y se fue a buscar al camello. Al día siguiente, lo encontró tendido en la arena haciendo absolutamente nada y le dijo:</p>
                <p class="parrafo-cuento">—Amigo camello, ¿es cierto que te niegas a colaborar con las tareas de este mundo nuevo?</p>
                <p class="parrafo-cuento">—¡No me jorobes! —respondió el camello.</p>
                <p class="parrafo-cuento">La insolencia del camello tomó por sorpresa al genio. Con el dedo en la barbilla empezó a pensar en un poderoso hechizo. El camello se había levantado para admirar su reflejo en un charco de agua.</p>
                <p class="parrafo-cuento">—Por culpa de tu pereza, has hecho que los tres animales tengan que trabajar más.</p>
                <p class="parrafo-cuento">—¡No me jorobes! —exclamó el camello.</p>
                <p class="parrafo-cuento">—No vuelvas a decirme eso —le advirtió el genio—. ¡Te ordeno que te pongas a trabajar inmediatamente!</p>
                <p class="parrafo-cuento">El camello miró al genio y dijo otra vez:</p>
                <p class="parrafo-cuento">—¡No me jorobes!</p>
                <p class="parrafo-cuento">Pero con solo decirlo, vio cómo su lomo, del que se sentía tan orgulloso, se hinchó y se hinchó hasta convertirse en una enorme joroba.</p>
                <p class="parrafo-cuento">—¿Ves lo que te ha pasado? —dijo el genio—. Es la joroba que tú mismo te has puesto encima por haragán. Hoy es jueves y desde el lunes no has hecho nada.</p>
                <p class="parrafo-cuento">—¿Cómo quieres que trabaje con esta joroba en la espalda? —preguntó el camello.</p>
                <p class="parrafo-cuento">—Esa joroba tiene un propósito —contestó el genio—, y todo porque has perdido tres días. Ahora podrás trabajar tres días sin comer, porque puedes vivir de tu joroba; y no digas que no he hecho nada por ti. Sal del desierto, ve con los tres animales y pórtate bien.</p>
                <p class="parrafo-cuento">Desde aquel día, el camello anda con su joroba a cuestas. Aunque siendo un tanto vanidoso, prefiere que la llamen giba.</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_para_dormir/images/webP/camellojoroba2.webp">
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>


