<div class="">
  <!-- <nav class="px-4 py-3 bg-[#248847] h-14 w-full"> -->
  <nav class="px-4 py-3 bg-blue-900 h-14 w-full">
    <!-- <div class="mx-12 w-12 float-end -mt-2"><a routerLink=""><img src="../../../assets/images/progresemosjuntos.png" alt=""></a></div> -->
    <div class="mx-12 w-12 float-end -mt-2"><a routerLink=""><img src="assets/images/progresemosjuntos.png" alt=""></a>
    </div>

    <ul class="flex text-gray-300 font-normal mx-12">
      <li routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact: true}" class=" cursor-pointer">
        Inicio</li>
      <li routerLinkActive="active" routerLink="canciones/principal" class="mx-2 cursor-pointer">Canciones</li>
      <li routerLinkActive="active" routerLink="cuentos" class="mx-2 cursor-pointer">Cuentos</li>
      <li routerLinkActive="active" routerLink="fabulas" class="mx-2 cursor-pointer">Fabulas</li>
      <li routerLinkActive="active" routerLink="juegos" class="mx-2 cursor-pointer">Juegos</li>


    </ul>



  </nav>
</div>