<div class="relative">
  <!-- contenedor de la imagen de fondo -->
  <div class=" inset-0 bg-cover " style="background-image: url('assets/images/fondoVacas.jpg'); background-color: rgba(255, 255, 255, 0.9); z-index: -1;">

    <div class="flex">
      <div class="w-1/2 p-4">
        <div class="text-center">
          <div class="rounded-lg ml-48 border bg-gray-200 opacity-85 w-auto border-gray-900 p-4">
            <p class="text-2xl font-semibold">La vaca Lola</p>
            <p class="text-xl" *ngFor="let word of audioText; let i = index" [class.font-bold]="i === currentWordIndex">
              {{word.word}}
            </p>
          </div>
        </div>
      </div>

      <div class="w-1/2 p-4 pl-40 mt-28">

        <!-- Audio Player -->
        <audio #audioPlayer controls (timeupdate)="highlightWord(audioPlayer)">
          <source src="assets/audio/vacaLola.mp3" type="audio/mp3">
        </audio>


         <!-- Contenedor del gif -->
         <div class="absolute w-72">
          <img *ngIf="gifVisible" src="assets/images/vacaLola.gif" class="relative inset-0 object-cover w-full h-full">
        </div>

      </div>
    </div>

    <div class="mx-4">
      <div class="container px-8 py-8 flex  justify-center items-center">
      <div  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-36">
        <div *ngFor="let item of items"  class="text-center   w-36 h-36  ml-4 mr-4">
          <a  [routerLink]="item.link" class="block hover:opacity-75">
            <img [src]="item.image" alt="image" class="max-w-xs w-24 h-24 md:w-32 md:h-32 mx-auto">
            <span  class="mt-4 text-lg font-medium text-gray-700 block">{{item.text}}</span>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
