<div class="relative">
  <!-- contenedor de la imagen de fondo -->
  <div class=" inset-0 bg-cover "
    style="background-image: url('assets/images/fondofabula.jpeg'); background-color: rgba(255, 255, 255, 0.9); z-index: -1;">
    <p class="text-5xl font-semibold text-center"><br>El águila y los gallos</p>
    <div class="flex">
      <div class="container">
        <div class="container fabula">
          <p class="texto">Dos gallos reñían a diario por el dominio del gallinero. Un día, uno de los gallos venció al
            otro y lo obligó a esconderse en un matorral.
            No contento con haber desterrado a su rival, el gallo vencedor se subió a lo alto del gallinero extendiendo
            sus alas, mientras cantaba con todas sus fuerzas
            para contarle al mundo su victoria. Un águila que volaba cerca escuchó al jactancioso gallo y se abalanzó
            sobre él, atrapándolo con sus garras.
            El gallo derrotado vio todo desde el matorral, regresó al gallinero y se quedó con todas las gallinas.
          </p>
          <p class="moraleja">Moraleja: No presumas de tu éxito, pues alguien querrá arrebatártelo.</p>
        </div>

      </div>

      <div class="w-1/2 p-4 pl-20 mt-17">
        <div class="absolute">
          <img src="assets/images/fabula11.jpg">
          <a href="/fabulas">
            <img src="assets/images/btnregresar.png">
          </a>
        </div>
      </div>
    </div>

    <div class="botones">
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-36">
        <div *ngFor="let item of items" class="text-center   w-36 h-36  ml-4 mr-4">
          <a [routerLink]="item.link" class="block hover:opacity-75">
            <img [src]="item.image" alt="image" class="max-w-xs w-24 h-24 md:w-32 md:h-32 mx-auto">
            <span class="mt-4 text-lg font-medium text-white block">{{item.text}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>