<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tres Chanchitos</title>
</head>
<body>
    <header></header>
    <main class="contenedor">
        <div class="cuento">
            <div class="encabezado-cuento">
                <h1>CUENTO DE LOS TRES CERDITOS</h1>
                <p>Cuento popular inglés</p>
                <p>© Versión escrita por Paola Artmann</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/3cerditos1.webp">
            </div>
            <div class="cuento-parrafos">
                <p class="parrafo-cuento">En un pueblito no muy lejano, vivía una mamá cerdita junto con sus tres cerditos. Todos eran muy felices hasta que un día la mamá cerdita les dijo:</p>
                <p class="parrafo-cuento">—Hijitos, ustedes ya han crecido, es tiempo de que sean cerditos adultos y vivan por sí mismos.</p>
                <p class="parrafo-cuento">Antes de dejarlos ir, les dijo:</p>
                <p class="parrafo-cuento">—En el mundo nada llega fácil, por lo tanto, deben aprender a trabajar para lograr sus sueños.</p>
                <p class="parrafo-cuento">Mamá cerdita se despidió con un besito en la mejilla y los tres cerditos se fueron a vivir en el mundo.</p>
                <p class="parrafo-cuento">El cerdito menor, que era muy, pero muy perezoso, no prestó atención a las palabras de mamá cerdita y decidió construir una casita de paja para terminar temprano y acostarse a descansar.</p>
                <p class="parrafo-cuento">El cerdito del medio, que era medio perezoso, medio prestó atención a las palabras de mamá cerdita y construyó una casita de palos. La casita le quedó chueca porque como era medio perezoso no quiso leer las instrucciones para construirla.</p>
                <p class="parrafo-cuento">La cerdita mayor, que era la más aplicada de todos, prestó mucha atención a las palabras de mamá cerdita y quiso construir una casita de ladrillos. La construcción de su casita le tomaría mucho más tiempo. Pero esto no le importó; su nuevo hogar la albergaría del frío y también del temible lobo feroz...</p>
                <p class="parrafo-cuento">Y hablando del temible lobo feroz, este se encontraba merodeando por el bosque cuando vio al cerdito menor durmiendo tranquilamente a través de su ventana. Al lobo le entró un enorme apetito y pensó que el cerdito sería un muy delicioso bocadillo, así que tocó a la puerta y dijo:</p>
                <p class="parrafo-cuento">—Cerdito, cerdito, déjame entrar.</p>
                <p class="parrafo-cuento">El cerdito menor se despertó asustado y respondió:</p>
                <p class="parrafo-cuento">—¡No, no y no!, nunca te dejaré entrar.</p>
                <p class="parrafo-cuento">El lobo feroz se enfureció y dijo:</p>
                <p class="parrafo-cuento">Soplaré y resoplaré y tu casa derribaré.</p>
                <p class="parrafo-cuento">El lobo sopló y resopló con todas sus fuerzas y la casita de paja se vino al piso. Afortunadamente, el cerdito menor había escapado hacia la casa del cerdito del medio mientras el lobo seguía soplando.</p>
                <p class="parrafo-cuento">El lobo feroz sintiéndose engañado, se dirigió a la casa del cerdito del medio y al tocar la puerta dijo:</p>
                <p class="parrafo-cuento">—Cerdito, cerdito, déjame entrar.</p>
                <p class="parrafo-cuento">El cerdito del medio respondió:</p>
                <p class="parrafo-cuento">— ¡No, no y no!, nunca te dejaré entrar.</p>
                <p class="parrafo-cuento">El lobo hambriento se enfureció y dijo:</p>
                <p class="parrafo-cuento">—Soplaré y resoplaré y tu casa derribaré.</p>
                <p class="parrafo-cuento">El lobo sopló y resopló con todas sus fuerzas y la casita de palo se vino abajo. Por suerte, los dos cerditos habían corrido hacia la casa de la cerdita mayor mientras que el lobo feroz seguía soplando y resoplando. Los dos hermanos, casi sin respiración le contaron toda la historia.</p>
                <p class="parrafo-cuento">—Hermanitos, hace mucho frío y ustedes la han pasado muy mal, así que disfrutemos la noche al calor de la fogata —dijo la cerdita mayor y encendió la chimenea. Justo en ese momento, los tres cerditos escucharon que tocaban la puerta.</p>
                <p class="parrafo-cuento">—Cerdita, cerdita, déjame entrar —dijo el lobo feroz.</p>
                <p class="parrafo-cuento">La cerdita respondió:</p>
                <p class="parrafo-cuento">— ¡No, no y no!, nunca te dejaré entrar.</p>
                <p class="parrafo-cuento">El lobo hambriento se enfureció y dijo:</p>
                <p class="parrafo-cuento">—Soplaré y soplaré y tu casa derribaré.</p>
                <p class="parrafo-cuento">El lobo sopló y resopló con todas sus fuerzas, pero la casita de ladrillos resistía sus soplidos y resoplidos. Más enfurecido y hambriento que nunca decidió trepar el techo para meterse por la chimenea. Al bajar la chimenea, el lobo se quemó la cola con la fogata.</p>
                <p class="parrafo-cuento">—¡AY! —gritó el lobo.</p>
                <p class="parrafo-cuento">Y salió corriendo por el bosque para nunca más ser visto.</p>
                <p class="parrafo-cuento">Un día cualquiera, mamá cerdita fue a visitar a sus queridos cerditos y descubrió que todos tres habían construido casitas de ladrillos. Los tres cerditos habían aprendido la lección:</p>
                <p class="parrafo-cuento">“En el mundo nada llega fácil, por lo tanto, debemos trabajar para lograr nuestros sueños”.</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/3cerditos2.webp">
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>
