<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tres Chanchitos</title>
</head>
<body>
    <header></header>
    <main class="contenedor">
        <div class="cuento">
            <div class="encabezado-cuento">
                <h1>CUENTO DE BLANCANIEVES Y LOS SIETE ENANITOS</h1>
                <p>Cuento clásico de los hermanos Grimm</p>
                <p>© Versión escrita por Paola Artmann</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/blancanieves1.webp">
            </div>
            <div class="cuento-parrafos">
                <p class="parrafo-cuento">Érase una vez una joven y bella princesa llamada Blancanieves que vivía en un reino muy lejano con su padre y madrastra.</p>
                <p class="parrafo-cuento">Su madrastra, la reina, era también muy hermosa, pero arrogante y orgullosa. Se pasaba todo el día contemplándose frente al espejo. El espejo era mágico y cuando se paraba frente a él, le preguntaba:</p>
                <p class="parrafo-cuento">—Espejito, espejito, ¿quién es la más hermosa del reino?</p>
                <p class="parrafo-cuento">Entonces el espejo respondía:</p>
                <p class="parrafo-cuento">— Tú eres la más hermosa de todas las mujeres.</p>
                <p class="parrafo-cuento">La reina quedaba satisfecha, pues sabía que su espejo siempre decía la verdad. Sin embargo, con el pasar de los años, la belleza y bondad de Blancanieves se hacían más evidentes. Por todas sus buenas cualidades, superaba mucho la belleza física de la reina. Y llegó al fin un día en que la reina preguntó de nuevo:</p>
                <p class="parrafo-cuento">—Espejito, espejito, ¿quién es la más hermosa del reino?</p>
                <p class="parrafo-cuento">El espejo contestó:</p>
                <p class="parrafo-cuento">—Blancanieves, a quien su bondad la hace ser aún más bella que tú.</p>
                <p class="parrafo-cuento">La reina se llenó de ira y ordenó la presencia del cazador y le dijo:</p>
                <p class="parrafo-cuento">—Llévate a la joven princesa al bosque y asegúrate de que las bestias salvajes se encarguen de ella.</p>
                <p class="parrafo-cuento">Con engaños, el cazador llevó a Blancanieves al bosque, pero cuando estaba a punto de cumplir las órdenes de la reina, se apiadó de la bella joven y dijo:</p>
                <p class="parrafo-cuento">—Corre, vete lejos, pobre muchacha. Busca un lugar seguro donde vivir.</p>
                <p class="parrafo-cuento">Encontrándose sola en el gran bosque, Blancanieves corrió tan lejos como pudo hasta la llegada del anochecer. Entonces divisó una pequeña cabaña y entró en ella para dormir. Todo lo que había en la cabaña era pequeño. Había una mesa con un mantel blanco y siete platos pequeños, y con cada plato una cucharita. También, había siete pequeños cuchillos y tenedores, y siete jarritas llenas de agua. Contra la pared se hallaban siete pequeñas camas, una junto a la otra, cubiertas con colchas tan blancas como la nieve.</p>
                <p class="parrafo-cuento">Blancanieves estaba tan hambrienta y sedienta que comió un poquito de vegetales y pan de cada platito y bebió una gota de cada jarrita. Luego, quiso acostarse en una de las camas, pero ninguna era de su medida, hasta que finalmente pudo acomodarse en la séptima.</p>
                <p class="parrafo-cuento">Cuando ya había oscurecido, regresaron los dueños de la cabaña. Eran siete enanos que cavaban y extraían oro y piedras preciosas en las montañas. Ellos encendieron sus siete linternas, y observaron que alguien había estado en la cabaña, pues las cosas no se encontraban en el mismo lugar.</p>
                <p class="parrafo-cuento">El primero dijo: —¿Quién se ha sentado en mi silla?</p>
                <p class="parrafo-cuento">El segundo dijo: —¿Quién comió de mi plato?</p>
                <p class="parrafo-cuento">El tercero dijo: —¿Quién mordió parte de mi pan?</p>
                <p class="parrafo-cuento">El cuarto dijo: —¿Quién tomó parte de mis vegetales?</p>
                <p class="parrafo-cuento">El quinto dijo: —¿Quién usó mi tenedor?</p>
                <p class="parrafo-cuento">El sexto dijo: —¿Quién usó mi cuchillo?</p>
                <p class="parrafo-cuento">El séptimo dijo: —¿Quién bebió de mi jarra?</p>
                <p class="parrafo-cuento">Entonces el primero observó una arruga en su cama y dijo: —Alguien se ha metido en mi cama.</p>
                <p class="parrafo-cuento">Y los demás fueron a revisar sus camas, diciendo: —Alguien ha estado en nuestras camas también.</p>
                <p class="parrafo-cuento">Pero cuando el séptimo miró su cama, encontró a Blancanieves durmiendo plácidamente y llamó a los demás:</p>
                <p class="parrafo-cuento">—¡Oh, cielos! —susurraron—. Qué encantadora muchacha</p>
                <p class="parrafo-cuento">Cuando llegó el amanecer, Blancanieves se despertó muy asustada al ver a los siete enanos parados frente a ella. Pero los enanos eran muy amistosos y le preguntaron su nombre.</p>
                <p class="parrafo-cuento">—Mi nombre es Blancanieves —respondió—, y les contó todo acerca de su malvada madrastra.</p>
                <p class="parrafo-cuento">Los enanos dijeron:</p>
                <p class="parrafo-cuento">—Si puedes limpiar nuestra casa, cocinar, tender las camas, lavar, coser y tejer, puedes quedarte todo el tiempo que quieras—. Blancanieves aceptó feliz y se quedó con ellos.</p>
                <p class="parrafo-cuento">Pasó el tiempo y un día, la reina decidió consultar a su espejo y descubrió que la princesa vivía en el bosque. Furiosa, envenenó una manzana y tomó la apariencia de una anciana.</p>
                <p class="parrafo-cuento">— Un bocado de esta manzana hará que Blancanieves duerma para siempre — dijo la malvada reina.</p>
                <p class="parrafo-cuento">Al día siguiente, los enanos se marcharon a trabajar y Blancanieves se quedó sola.</p>
                <p class="parrafo-cuento">Poco después, la reina disfrazada de anciana se acercó a la ventana de la cocina. La princesa le ofreció un vaso de agua.</p>
                <p class="parrafo-cuento">—Eres muy bondadosa —dijo la anciana—. Toma esta manzana como gesto de agradecimiento.</p>
                <p class="parrafo-cuento">En el momento en que Blancanieves mordió la manzana, cayó desplomada. Los enanos, alertados por los animales del bosque, llegaron a la cabaña mientras la reina huía. Con gran tristeza, colocaron a Blancanieves en una urna de cristal. Todos tenían la esperanza de que la hermosa joven despertase un día.</p>
                <p class="parrafo-cuento">Y el día llegó cuando un apuesto príncipe que cruzaba el bosque en su caballo, vio a la hermosa joven en la urna de cristal y maravillado por su belleza, le dio un beso en la mejilla, la joven despertó al haberse roto el hechizo. Blancanieves y el príncipe se casaron y vivieron felices para siempre</p>
            </div>
            <div class="imagen-cuento">
                <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/cuentos_clasicos/images/webP/blancanieves2.webp">
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>


