<footer class="w-full  sm:h-auto lg:h-auto h-auto bg-gray-800 py-4 text-white">
  <div class="container  px-12">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- INICIO COLUMNA 1 -->
      <div>
        <h3 class="font-bold mb-4">Contacto</h3>
        <ul>
          <li>Correo: progresemosjuntos.ong@gmail.com</li>
          <li>Teléfono: 980326958 - 959639205</li>

        </ul>

      </div>
      <!-- FIN COLUMNA 1 -->

      <!-- INICIO COLUMNA 2 -->
      <div>
        <h3 class="font-bold mb-4">Enlaces de Interes</h3>
        <ul>
          <li><a routerLink="/" class="">Inicio</a></li>
          <li><a href="https://progresemosjuntos.wixsite.com/progresemosjuntos/quines-somos" class="">Acerce de Nosotros</a></li>
          <li><a href="https://progresemosjuntos.wixsite.com/progresemosjuntos/contactanos" class="">Contactanos</a></li>
        </ul>
      </div>
      <!-- FIN COLUMNA 2 -->

      <!-- INICIO COLUMNA 3 -->
      <div>
        <h3 class="font-bold mb-4">Siguenos en las redes sociales</h3>
        <ul class="flex gap-4">
          <li class="w-9 h-9"><a href="https://www.facebook.com/PROGRESEMOSJUNTOS" target="_blank"><img src="assets/images/face.svg" alt=""></a></li>
          <li class="w-9 h-9"><a href="https://x.com/OngProgresemos" target="_blank"><img src="assets/images/x.svg" alt=""></a></li>
          <li class="w-8 h-8"><a href="https://www.instagram.com/progresemosjuntos/" target="_blank"><img src="assets/images/instagram.svg" alt=""></a></li>
          <li class="w-8 h-8"><a href="https://www.linkedin.com/in/progresemos-juntos-ong-250a6b228/" target="_blank"><img src="assets/images/in.svg" alt=""></a></li>
        </ul>
        <div class="mt-4">
          <span class="text-center text-white">Copyright &copy; Progresemos Juntos 2024</span>
        </div>
      </div>
      <!-- FIN COLUMNA 3 -->


    </div>
  </div>
</footer>
